@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

@layer base {
    body {
        font-family: "Lato", sans-serif;
    }
}

:root {
    --color-primary: #3B6DC0;
    --color-primary-dark: #132860;
    --color-primary-light: #21366e;
    --color-secondary: #ffffff;
    --color-accent: #1CAAA7;
    --color-danger: #BE2C26;
    --color-text-primary: #070707;
    --color-surface: #E1E0DF;
}